{m:include "index","header"}
{php $listimgs=$catimg?$catimg:get_category($parentid, 'catimg')}

<section class="page__title p-relative d-flex align-items-center fix" data-background="{$listimgs}">
    <div class="slider__shape">
        <img class="shape triangle" src="{STATIC_URL}company/img/icon/slider/triangle.png" alt="triangle">
        <img class="shape dotted-square" src="{STATIC_URL}company/img/icon/slider/dotted-square.png"
            alt="dotted-square">
        <img class="shape solid-square" src="{STATIC_URL}company/img/icon/slider/solid-square.png" alt="solid-square">
        <img class="shape circle-2" src="{STATIC_URL}company/img/icon/slider/circle.png" alt="circle">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page__title-content wow fadeInUp ">
                    <h2>{get_catname($catid)}</h2>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="service-category">
    <div class="container">
        <div class="service-category-wrap wow fadeInUp">
            {php $catids=$parentid?$parentid:$catid}
            {php $data = get_childcat($catids);}
            <div class="left">
                {loop $data $v}
                <div class="left-item  {if $v[catid]===$catid}  select  {/if}">
                    <a href="{$v[pclink]}">{$v[catname]}</a>
                </div>
                {/loop}
            </div>
            <div class="right d-none d-lg-block">
                {get_location($catid)}
            </div>
        </div>
    </div>
</section>
<section class="service-center " style="padding-top: 60px;">

    <div class="container">
        <div class="service-center-content wow fadeInUp">
            <div class="title"> {get_category($catid, 'catname')}</div>
            <div class="article-desc-wrap">
                {$content}
            </div>
        </div>

    </div>
</section>
{m:include "index","footer"}