<div class="honor">
    <div class="home-title-wrap wow fadeInUp" data-delay=".1s">
        <div class="r-title" style="margin-bottom: 30px;">Cooperative partner</div>
        <!-- <div class="r-desc d-none d-lg-block">Cooperative partner</div> -->
    </div>
    <div class="container">
        <div class="list-wrap">
            <div class="swiper honorSwiper">
                {m:link field="logo" limit="2000000"}


                <div class="swiper-wrapper">
                    {loop $data $v}

                    <div class="swiper-slide ">
                        <img src="{$v[logo]}" alt="">
                    </div>
                    {/loop}

                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>