<div class="organization">
    <div class="brand__shape">

        <img class="circle" src="{STATIC_URL}company/img/icon/brand/circle.png" alt="">

        <img class="triangle" src="{STATIC_URL}company/img/icon/brand/trianlge.png" alt="">
    </div>
    <div class="home-title-wrap  " data-delay=".1s">
        <div class="r-title">Organizational structure</div>
        <!-- <div class="r-desc d-none d-lg-block">Organizational structure</div> -->
    </div>
    <div class="img-wrap wow fadeInUp" data-delay=".2s">

        <img src="{$site[organization]}" alt="组织架构" title="组织架构">
    </div>
</div>