<div class="company-rong">
    <div class="container">
        <div class="rong-title-wrap  wow fadeInUp" data-delay=".1s">
            <div class="r-title">{get_catname(52)}</div>
            <div class="r-desc d-none d-lg-block">{get_category(52, 'entitle')}</div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-12  col-sm-12">
                {m:lists field="title,thumb,url,color,content,rong_id" catid="52" order="rong_id ASC"}
                {php $i=0}
                <div class="time-wrap">
                    {loop $data $v}
                    {$i++}
                    <div class="time-item wow fadeInUp" data-delay=".{$i}s">
                        <div class="time-circle"></div>
                        <div class="time-text">
                            <div class="time-year">
                                {$v[title]}
                            </div>
                            <div class="time-desc">
                                {$v[content]}
                            </div>
                        </div>
                    </div>
                    {/loop}

                </div>
            </div>
            <div class="col-lg-5 d-none d-lg-block">
                <img class="rongyuc  wow fadeInUp" data-delay=".2s" src="{$site[rongyuc]}" alt="">
                <img class="rongyue wow fadeInUp" data-delay=".3s" src="{$site[rongyue]}" alt="">
            </div>
        </div>
    </div>
</div>