<!-- footer area start -->
<footer class="footer-center">

    <div class="footer__area grey-bg   ">
        <div class="footer__top  ani">
            <div class="container">
                <div class="footer-top">
                    <div class="footer-top-item">
                        <div class="footer-item-left">
                            <img src="{STATIC_URL}company/images/tel.png" alt="联系电话">
                        </div>
                        <div class="footer-item-right">
                            <span class="footer-item-name">联系电话:</span>
                            <span class="footer-item-value">{$site[phone]}</span>
                        </div>
                    </div>
                    <div class="footer-top-item">
                        <div class="footer-item-left">
                            <img src="{STATIC_URL}company/images/location.png" alt="地址">
                        </div>
                        <div class="footer-item-right">
                            <span class="footer-item-name">地址:</span>
                            <span class="footer-item-value">{$site[address]}</span>
                        </div>
                    </div>
                    <div class="footer-top-item">
                        <div class="footer-item-left">
                            <img src="{STATIC_URL}company/images/email.png" alt="邮箱">
                        </div>
                        <div class="footer-item-right">
                            <span class="footer-item-name">邮箱:</span>
                            <span class="footer-item-value">{$site[email]}</span>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                        <div class="footer__widget mb-45  ani " swiper-animate-delay=".2s">
                            <div class="footer__widget-title">
                                <h4>海创三维</h4>
                            </div>
                            <div class="footer__widget-content">
                                <div class="footer__links">
                                    <ul>
                                        <li><a href="#">关于我们</a></li>
                                        <li><a href="#">产品中心</a></li>
                                        <li><a href="#">咨询服务</a></li>
                                        <li><a href="#">合作伙伴</a></li>
                                        <li><a href="#">联系我们</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2  col-lg-2  col-md-4 col-sm-6">
                        <div class="footer__widget mb-45  ani" swiper-animate-delay=".4s">
                            <div class="footer__widget-title">
                                <h4>资源</h4>
                            </div>
                            <div class="footer__widget-content">
                                <div class="footer__links">
                                    <ul>
                                        <li><a href="#">客户</a></li>
                                        <li><a href="#">价格</a></li>
                                        <li><a href="#">新闻</a></li>
                                        <li><a href="#">学习中心</a></li>
                                        <li><a href="#">服务台</a></li>
                                        <li><a href="#">支持</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2  col-lg-2  col-md-4 col-sm-6">
                        <div class="footer__widget mb-45   ani" swiper-animate-delay=".6s">
                            <div class="footer__widget-title">
                                <h4>用户案例</h4>
                            </div>
                            <div class="footer__widget-content">
                                <div class="footer__links">
                                    <ul>
                                        <li><a href="#">用户案例</a></li>
                                        <li><a href="#">机构</a></li>
                                        <li><a href="#">数字营销</a></li>
                                        <li><a href="#">商业搜索引擎</a></li>
                                        <li><a href="#">企业</a></li>
                                        <li><a href="#">出版商</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2  col-lg-2  col-md-4 col-sm-6">
                        <div class="footer__widget mb-45 ani" swiper-animate-delay=".6s">
                            <div class="footer__widget-title">
                                <h4>用户案例</h4>
                            </div>
                            <div class="footer__widget-content">
                                <div class="footer__links">
                                    <ul>
                                        <li><a href="#">用户案例</a></li>
                                        <li><a href="#">机构</a></li>
                                        <li><a href="#">数字营销</a></li>
                                        <li><a href="#">商业搜索引擎</a></li>
                                        <li><a href="#">企业</a></li>
                                        <li><a href="#">出版商</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2  col-lg-2  col-md-4 col-sm-6">
                        <div class="footer__widget mb-45   ani" swiper-animate-delay=".8s">
                            <div class="footer__widget-title">
                                <h4>用户案例</h4>
                            </div>
                            <div class="footer__widget-content">
                                <div class="footer__links">
                                    <ul>
                                        <li><a href="#">用户案例</a></li>
                                        <li><a href="#">机构</a></li>
                                        <li><a href="#">数字营销</a></li>
                                        <li><a href="#">商业搜索引擎</a></li>
                                        <li><a href="#">企业</a></li>
                                        <li><a href="#">出版商</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="footer__copyright-text">
                            <p>&copy;
                                京ICP证030173号京网文|2013|0934-983号 Copyright ©2022 Baidu
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>