{m:include "index","header"}
<link rel="stylesheet" href="{STATIC_URL}company/css/home.css">


<!-- <script type="text/javascript" src="{STATIC_URL}plugin/swiper/js/swiper.animate1.0.3.min.js"></script> -->

{m:include "index","/home/homeSwiper"}
{m:include "index","./home/companydesc"}
{m:include "index","./home/companyrong"}
{m:include "index","./home/honor"}
{m:include "index","./home/organization"}
{m:include "index","./home/news"}



{m:include "index","footer"}

</body>
<script src="{STATIC_URL}company/js/vendor/waypoints.min.js"></script>
<script src="{STATIC_URL}company/js/bootstrap.bundle.min.js"></script>
<script src="{STATIC_URL}company/js/jquery.meanmenu.js"></script>
<script src="{STATIC_URL}company/js/slick.min.js"></script>
<script src="{STATIC_URL}company/js/jquery.fancybox.min.js"></script>
<script src="{STATIC_URL}company/js/jquery.counterup.min.js"></script>
<script src="{STATIC_URL}company/js/isotope.pkgd.min.js"></script>
<script src="{STATIC_URL}company/js/owl.carousel.min.js"></script>
<script src="{STATIC_URL}company/js/ajax-form.js"></script>
<script src="{STATIC_URL}company/js/wow.min.js"></script>
<script src="{STATIC_URL}company/js/imagesloaded.pkgd.min.js"></script>
<script src="{STATIC_URL}company/js/main.js"></script>
</body>
<script>
    window.onload = function () {



        const dom = document.getElementsByClassName('home-types-item');
        $('.home-types-item').on("click", function () {
            let index = $(this).index();
            $(document).scrollTop(index * 900)
            if (index === 0) {
                $(document).scrollTop(0)
            } else {
                $(document).scrollTop(index * 900 + 900)
            }
            // if (index === 1) {
            //     $(document).scrollTop(1800)
            // }
        })



        let companyDescSwiper = new Swiper(".company-Swiper", {
            autoplay: true
        });



        let honorSwiper = new Swiper(".honorSwiper", {
            slidesPerView: 5,
            grid: {
                rows: 4,
                fill: 'row'
            },
            spaceBetween: 30,
            // pagination: {
            //     el: ".swiper-pagination",
            //     clickable: true,
            // },
        });
        console.log(honorSwiper);
    }

</script>

</html>