{m:include "index","header"}
<section class="page__title p-relative d-flex align-items-center fix" data-background="{$catimg}">
    <div class="slider__shape">
        <img class="shape triangle" src="{STATIC_URL}company/img/icon/slider/triangle.png" alt="triangle">
        <img class="shape dotted-square" src="{STATIC_URL}company/img/icon/slider/dotted-square.png"
            alt="dotted-square">
        <img class="shape solid-square" src="{STATIC_URL}company/img/icon/slider/solid-square.png" alt="solid-square">
        <img class="shape circle-2" src="{STATIC_URL}company/img/icon/slider/circle.png" alt="circle">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page__title-content mt-100">
                    <h2>{get_catname($catid)}</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">

                            {get_location($catid)}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- portfolio area start -->
<section class="portfolio__area pt-110 pb-160">
    <div class="container">

        <div class="row">

            {php $top_id=get_category($parentid, 'parentid')}
            {if $top_id}
            <div class="col-xl-12">
                <div class="portfolio__menu mb-40 wow fadeInUp">
                    <!-- <span>Filter by: </span> -->


                    {php $r = get_childcat(get_category($parentid, 'parentid'));}
                    <div class="masonary-menu filter-button-group d-sm-inline-block">
                        <a href="{get_category($parentid, 'pclink')}" class="  button">全部</a>
                        {loop $r $v}

                        {php $top=get_category($v['catid'],'parentid');}
                        {php $parentid}
                        <a href="{get_category($v['catid'], 'pclink')}" {if $v['catid']==$parentid}
                            class="button  active" {else} class="button " {/if}>{$v['catname']}</a>
                        {/loop}
                    </div>

                </div>
            </div>
            {/if}
            <div class="col-xl-12">
                <div class="portfolio__load mt-25">


                    <div class="basic-pagination wow fadeInUp">
                        <?php
                         $str=$pages;
                         $str=str_ireplace('上页','←',$str);
                       
                         $str=str_ireplace('下页','→',$str);
                         $str=str_ireplace('<div id="page">','',$str);
                       
                        ?>
                        <ul>
                            {$str}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {m:lists field="title,thumb,url,color,catid,updatetime" catid="$catid" limit="10" page="page"}
        <div class="row ">
            <div class="col-xl-9">
                <div class="row ">
                    {php $i=0;}
                    {loop $data $v}
                    {php $i++;}



                    <div {if $i==1} class="col-xl-8 col-lg-8 col-md-6 col-sm-6   wow fadeInUp " {else}
                        class="col-xl-4 col-lg-4 col-md-6 col-sm-6   wow fadeInUp " {/if}>
                        <div class="portfolio__item p-relative mb-30">
                            <div class="portfolio__thumb w-img fix  thumb-real">

                                <img src="{get_thumb($v['thumb'])}" alt="{$v['title']}">
                                <div class="portfolio__plus p-absolute transition-3">
                                    <a href="{get_thumb($v['thumb'])}" data-fancybox="gallery">
                                        <i class="fal fa-plus"></i>
                                        <i class="fal fa-plus"></i>
                                    </a>
                                </div>
                                <!-- <div class="btn-m">{get_catname($v['catid'])}</div> -->
                            </div>
                            <div class="portfolio__content">
                                <h4><a href="{$v[url]}">{str_cut($v['title'],40)}</a></h4>
                                <p class="title-time"><i class="far fa-calendar-alt"></i> {date('Y-m-d',
                                    $v['updatetime'])}

                                </p>
                                <div class="portfolio__more p-absolute transition-3">
                                    <a href="{get_category($v['catid'], 'pclink')}" class="link-btn-2">
                                        {get_category($v['catid'],'catname')}
                                        <i class="fal fa-long-arrow-right"></i>
                                        <i class="fal fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {/loop}
                </div>
            </div>
            <div class="col-xl-2">
                <div class="sidebar__widget mb-75 wow fadeInUp" data-wow-delay=".6s">
                    <div class="sidebar__widget-title mb-50">
                        <h4>分类</h4>
                    </div>
                    <div class="sidebar__widget-content">
                        <div class="cat-link">
                            <ul>
                                {php $r = get_childcat($parentid);}

                                {loop $r $v}


                                <li><a {if $v['catid']==$catid} class="active" {else} class="" {/if}
                                        href="{get_category($v['catid'], 'pclink')}">{$v['catname']}</a></li>

                                {/loop}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- {php $i=0;}
            {loop $data $v}
            {php $i++;}



            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 grid-item  wow fadeInUp ">
                <div class="portfolio__item p-relative mb-30">
                    <div class="portfolio__thumb w-img fix  thumb-real">

                        <img src="{get_thumb($v['thumb'])}" alt="{$v['title']}">
                        <div class="portfolio__plus p-absolute transition-3">
                            <a href="{get_thumb($v['thumb'])}" data-fancybox="gallery">
                                <i class="fal fa-plus"></i>
                                <i class="fal fa-plus"></i>
                            </a>
                        </div>
                        <div class="btn-m">{get_catname($v['catid'])}</div>
                    </div>
                    <div class="portfolio__content">
                        <h4><a href="{$v[url]}">{str_cut($v['title'],40)}</a></h4>
                        <p class="title-time"><i class="far fa-calendar-alt"></i> {date('Y-m-d',
                            $v['updatetime'])}

                        </p>
                        <div class="portfolio__more p-absolute transition-3">
                            <a href="{get_category($v['catid'], 'pclink')}" class="link-btn-2">
                                更多
                                <i class="fal fa-long-arrow-right"></i>
                                <i class="fal fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {/loop} -->


        </div>
        <!-- <div class="row">
           
        </div> -->
    </div>
</section>
<!-- portfolio area end -->
{m:include "index","footer"}